-- ============================================================
-- 025_allow_multiple_coach_checkins.sql
-- Allow coaches to check in multiple times to the same class 
-- on the same day if they have multiple slots.
-- ============================================================

ALTER TABLE public.coach_check_ins 
DROP CONSTRAINT IF EXISTS coach_check_ins_coach_id_date_class_key;
