-- ============================================================
-- 026_clinic_packages.sql
-- Add is_clinic flag to packages
-- ============================================================

ALTER TABLE public.packages ADD COLUMN is_clinic BOOLEAN NOT NULL DEFAULT false;
