-- ============================================================
-- 027_lead_invitations.sql
-- Add inviting_member_id to leads
-- ============================================================

ALTER TABLE public.leads ADD COLUMN inviting_member_id UUID REFERENCES public.members(uuid);
